<h2>Exemplo de Pipes</h2>

                            <!--   Como normalmente é feito nas empresas-->

    <div *ngFor= "let item of livro">

        <p> Título: {{ item.titulo | camelCase }} </p>
        <p> Estrelas: {{ item.avaliacao | number: '1.1-1' }} </p>
        <p> Páginas: {{ item.pag }} </p>
        <p> Preço: {{ item.preco | currency:'BRL': true }} </p>
        <p> Data de Lançamento: {{ item.lancamento | date }} </p>
        <p> Url: {{ item.url }} </p>

    </div>

<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

                                     <!--   Como é feito com Loiane-->

<!--        <p> Título: {{ livro.titulo | uppercase | lowercase | camelCase }} </p>-->
<!--        <p> Estrelas: {{ livro.avaliacao | number }} </p>-->
<!--        <p> Páginas: {{ livro.pag }} </p>-->
<!--        <p> Preço: {{ livro.preco | currency:'BRL ':false }} </p>-->
<!--        <p> Data de Lançamento: {{ livro.lancamento | date: 'dd/MM/yyyy' }} </p>-->
<!--        <p> Url: {{ livro.url }} </p>-->

<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<input type= "text" [(ngModel)]= "filtro">

<br>

<input type= "text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<h4>Pipe Puro</h4>

  <ul>
     <li *ngFor= " let list of livros | filtroArray: filtro">
         {{ list }}
     </li>
  </ul>


<h4>Pipe Impuro</h4>

<ul>
  <li *ngFor= " let list of livros | filtroArrayImpuro: filtro">
    {{ list }}
  </li>
</ul>

<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<h4>Maneira correta de usar filtros nos projetos</h4>

<ul>
  <li *ngFor= " let list of obterLivro()">
    {{ list }}
  </li>
</ul>


<P>{{ valorAsync | async }}</P>

<P>{{ valorAsync2 | async }}</P>
